body {
    font-family: sans-serif;
}

header{
    background-color: indianred ;
     border-radius: 5px ;
     color: aliceblue;
     text-transform: uppercase ;
    
}

 header a {
   text-decoration: none ;
     color: blanchedalmond;
}

header img{
    margin: 5px;
}

.hh { 
    color: indianred ;
}

footer p{
 padding: 1px ;
 background-color:hsl(17, 100%, 74%) ;
}
 
nav {
     background-color: indianred ;
     font-size: 20px;
     border-radius: 5px ;
      padding: 20px;
      text-align: center;
      margin: 20px ;
    
      
}

nav a{
     text-decoration: none ;
     padding: 10px;
  background-color: white;
border-radius: 50px ;
  color: rgb(231, 162, 59);
}

.yy{
     background-color: indianred;
     color: white;
     font-size: 18px ;
}

.rr{
        background-color:indianred ;
         color: white;
         font-size: 18px ;
}

.ff{
       background-color: indianred;
        color: white;
        font-size: 18px ;
}

.tt{
    background-color: indianred;
     color: white;
     font-size: 18px ;
}

.oo {
    text-decoration: none ;
     padding: 10px;
    font-size: 20px;
    color: black;
     background-color: indianred ;
     border-radius: 15px ;
}

.ww {
    border: 3px solid hsl(17, 100%, 74%) ;
    border-radius: 15px; 
}

 .ee {
     text-decoration: none ;
     padding: 10px;
    font-size: 20px;
    color: black;
     background-color: indianred    ;
     border-radius: 15px ;
}
